/raw
/assets
/examples
/frames
/examples_old
/examples_old2
/checkpoints
/load_data/urls.json
/load_data/node_modules
/load_data/package-lock.json
/Generator
/Discriminator
/StyleMapper
/__pycache__
/web/__pycache__
/model/__pycache__
/load_metrics/__pycache__
